.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #03045e; */
    background-color: #0e0e3f;
    color: white;
    height: 10vh;
    padding: 0 10%;   
}

.navContainer {
    width: 35%;
    display: flex;
    justify-content: space-between;
}