.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 10vh;
    padding: 0 10%;   
}

.navContainer {
    width: 35%;
    display: flex;
    justify-content: space-between;
}